# Clustering Interpretation with Decision Trees

In [2]:
import numpy as np
import pandas as pd

In [3]:
path="https://raw.githubusercontent.com/McGill-MMA-EnterpriseAnalytics/Customer-Personality-Analysis-2.0/main/Data/Clustered%20Data/Clustered_Test_Data.csv?token=GHSAT0AAAAAACL3VCJANATN6TBEH2BLEKE4ZQ2YC5A"
data = pd.read_csv(path)

In [4]:
data.shape

(2231, 49)

In [5]:
data.head()

,ID,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,Education_PhD,Marital_Status_Alone,Marital_Status_Divorced,Marital_Status_Married,Marital_Status_Single,Marital_Status_Together,Marital_Status_Widow,Marital_Status_YOLO,Clusters,PercentWebpurchases
0,5524.0,1957.0,58138.0,0.0,0.0,58.0,635.0,88.0,546.0,172.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3,66.666667
1,2174.0,1954.0,46344.0,1.0,1.0,38.0,11.0,1.0,6.0,2.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1,33.333333
2,4141.0,1965.0,71613.0,0.0,0.0,26.0,426.0,49.0,127.0,111.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,44.444444
3,6182.0,1984.0,26646.0,1.0,0.0,26.0,11.0,4.0,20.0,10.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2,33.333333
4,5324.0,1981.0,58293.0,1.0,0.0,94.0,173.0,43.0,118.0,46.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3,45.454545